<h1>Editing listing</h1>

<% form_for @listing do |f| %>
  <%= render :partial => "listing_form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>