<p>
  <b>Name:</b>
  <%=h @listing.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @listing.address %>
</p>

<% if @listing.user_id == current_user.id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% else %>
<%= link_to 'Reserve', reserve_listing_path(@listing) %>
<% end %>
