<tr>
    <td><%= l reservation.check_in, :format => :long %> - <%= l reservation.check_out, :format => :long %></td>
    <td class="td-actions">
        <% link_to(edit_reservation_path(reservation), :class => "btn btn-small btn-primary") do %>
            <i class="btn-icon-only icon-pencil"></i>
        <% end %>
        <% link_to(reservation_path(reservation), :class => "btn btn-small") do %>
            <i class="btn-icon-only icon-info-sign"></i>                                       
        <% end %>
    </td>
</tr>